<div class="container-fluid padding">
  <div class="row welcome text-center">
		<div class="col-12">
            <h1>It's <%=current_user.first_name%>'s page</h1>
        </div>
   </div>
    <div class="dashboard-wrapper">

        <div class="lesson-box"><div class="upcoming-classes">
            <h4 class="text-center" >Your Upcoming class</h4>
             <% if @approved_lessons.length > 0 && @confirmed_lessons.length === 0 %>
                <p class="text-center">Please pay to confirm your lesson</p>
             <% end %>
             <% if @confirmed_lessons.length === 0 %>
                <p class="text-center">You don't have any confirmed class</p>
             <% end %>
                <% @confirmed_lessons.each do |lesson| %>
                
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                                <% if lesson.teacher.user.avatar.attached? %>
                                    <%= image_tag lesson.teacher.user.avatar %>
                                <% else %>
                                    <%= image_tag("default.png") %>
                                <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>Teacher's Name<p>
                            <%= link_to(lesson.teacher.user.full_name, teacher_path(lesson.teacher)) %>
                            <p>Lesson detail page</p>
                            <h4><%= link_to(lesson.teacher.user.full_name, teacher_path(lesson.teacher)) %></h4>
                            <p><%= link_to "Lesson detail", lesson_path(lesson)%></p><br />
                            <p><p>Answer from Teacher<p><%= lesson.comment %></p>
                        </div>
                    </div>               
                <% end %>
                </div>
         

<div class="approved-lessons">
            <h4 class="text-center" >Your Approved lessons</h4>
            <% if @requested_lessons.length > 0 && @approved_lessons.length === 0  %>
                <p class="text-center">Waiting for teacher approval</p>
             <% end %>
            <% if @approved_lessons.length === 0  %>
                <p class="text-center">You don't have any approved lesson</p>
             <% end %>
                <% @approved_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                                <% if lesson.teacher.user.avatar.attached? %>
                                    <%= image_tag lesson.teacher.user.avatar %>
                                <% else %>
                                    <%= image_tag("default.png") %>
                                <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>Teacher's Name<p>
                             <h4><%= link_to(lesson.teacher.user.full_name, teacher_path(lesson.teacher)) %></h4>
                            <p><%= link_to "Lesson detail", lesson_path(lesson)%></p><br />
                            <p><p>Answer from Teacher<p><%= lesson.answer %></p>
                        </div>
                    </div>
                    

                     <%= form_with url: pay_lesson_path, :method => :PUT, local: true do |f| %>

                        <div class="form-group">
                        <%= f.hidden_field :lesson, value: lesson.id %>
                        <%= f.hidden_field :teacher, value: lesson.teacher.id %>
                        <%= f.hidden_field :comment, value: lesson.comment %>
                        </div>
                        <%= f.submit 'Pay now!', class: 'btn btn-warning col-12 col-md-3 full-width' %>
                    <% end %>
               
                <% end %>
                </div>
                <div class="requested-lessons">
            <h4 class="text-center" >Your requested lessons</h4>
            <% if @requested_lessons.length === 0 %>
                <p class="text-center">You don't have any requested lesson</p>
             <% end %>
                <% @requested_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                                <% if lesson.teacher.user.avatar.attached? %>
                                    <%= image_tag lesson.teacher.user.avatar %>
                                <% else %>
                                    <%= image_tag("default.png") %>
                                <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>Teacher's Name<p>
                            <h4><%= link_to(lesson.teacher.user.full_name, teacher_path(lesson.teacher)) %></h4>
                            <p><%= link_to "Lesson detail", lesson_path(lesson)%></p><br />
                            <p>Comment: <%= lesson.comment %></p>
                        </div>
                    </div>
               
                <% end %>
</div>
<div class="declined-lessons">
            <h4 class="text-center" >Your declined lessons</h4>
            <% if @declined_lessons.length === 0 %>
                <p class="text-center">You don't have any declined lesson</p>
             <% end %>
                <% @declined_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                                <% if lesson.teacher.user.avatar.attached? %>
                                    <%= image_tag lesson.teacher.user.avatar %>
                                <% else %>
                                    <%= image_tag("default.png") %>
                                <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>Teacher's Name<p>
                            <h4><%= link_to(lesson.teacher.user.full_name, teacher_path(lesson.teacher)) %></h4>
                            <p><%= link_to "Lesson detail", lesson_path(lesson)%></p><br />
                            <p>Message: <%= lesson.answer %></p>
                        </div>
                    </div>
               
                <% end %>
        </div>

       <div class="favourite-teachers">
            <h4 class="text-center" >Your favourited teachers</h4>
                <% if @favourited_teachers.length === 0 %>
                    <p class="text-center">You don't have favourited teacher</p>
                <% end %>
                <% @favourited_teachers.each do |teacher| %>
                        <div class="teacher-box">
                          <div class=teacher-image> 
                            <% if teacher.user.avatar.attached? %>
                                <%= image_tag teacher.user.avatar %>
                            <% else %>
                                <%= image_tag("default.png") %>
                            <% end %>
                          </div>
                            <div class="teacher-content">
                                <h3><%= link_to(teacher.user.first_name, teacher_path(teacher)) %> </h3><br />
                                <h3><%= teacher.price %> CAD</h3>
                                <h4><%= teacher.description %></h4>
                                
                                <%= link_to fa_icon('thumbs-up 2x'), favourite_path(teacher.favourite_ids) , method: :delete, style: 'color: blue;' %>
                            </div>

                        </div>  
                <% end %>
            </div>
            <!-----------------review------------------->
            <div class="completed-lessons">
            <h4 class="text-center" >Review for finished lesson!</h4>
            <% if @finished_lessons.length === 0 %>
                <p class="text-center">You don't have a completed lesson.</p>
             <% end %>
                <% @finished_lessons.each do |lesson| %>
                        <div class="teacher-box">
                          <div class=teacher-image> 
                            <% if lesson.teacher.user.avatar.attached? %>
                                <%= image_tag lesson.teacher.user.avatar %>
                            <% else %>
                                <%= image_tag("default.png") %>
                            <% end %>
                          </div>
                            <div class="teacher-content">
                                 <h3><%= link_to "Lesson detail page", lesson_path(lesson)%></h3><br />
                                <h3><%= lesson.teacher.price %> CAD</h3>
                                <h4><%= lesson.teacher.description %></h4>
                            </div>

                        </div>  
                <% end %>

        </div>

    </div>
</div>
    