<div class="container card card-body col-12 col-md-8 col-lg-6">

    <% if @teacher.errors.any? %>
        <p class="alert alert-danger alert-dismissible fade show" data-toggle="collapse"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button><%=  @teacher.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <h3>Create your lesson</h3>
    <div class="form-group">
        <%= form_with(model: @teacher, local: true) do |f| %>

            <div class="form-group">
                <%= f.label :description, class:"form-label" %>
                <%= f.text_area :description, class:"form-control",
                 placeholder: 'Introduce Yourself' %>
            </div>

            <div class="form-group">
                <%= f.label :price, class:"form-label" %>
                <%= f.number_field :price, class:"form-control",placeholder: 'Your lesson price per hour' %>CAD
            </div> 

              <div class="form-group">
                <%= f.label :area, class:"form-label"%>
                <%= f.text_field :area, class:"form-control",placeholder: 'Where do you teach?' %>
              </div>

            <div class="form-group">
                 <%= f.collection_check_boxes :language_ids, Language.all, :id, :name do |b| %>
                  <div class="tag-wrapper">
                        <%= b.check_box %>
                        <%= b.text.humanize :tag_names %>
                  </div>
                  <% end %>
            </div>

            <%= f.submit 'Create!', class: 'btn btn-warning col-12 col-md-3' %>
        <% end %>
    </div>
</div>

 <script>
  $("#teacher_language_names").selectize({
    delimiter: ',',
    persist: false,
    labelField: "name",
    valueField: "name",
    searchField: "name",
    options: <%= Language.select(:name).to_json(except: [:id]).html_safe %>,
    create (input) {
      return { name: input }
    }
  })
</script>
