
<div class="container card card-body border-0 col-lg-6">

    <% if @teacher.errors.any? %>
        <p class="alert alert-danger alert-dismissible fade show" data-toggle="collapse"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button><%=  @teacher.errors.full_messages.join(', ') %>
        </p>
    <% end %>

  <div class="row welcome text-center">
		<div class="col-12">
            <h3>Create your lesson</h3>
        </div>
   </div>
    

        <%= form_with(model: @teacher, local: true) do |f| %>

            <div class="form-group">
                <%= f.label :description, class:"form-label" %>
                <%= f.text_area :description, class:"form-control",
                 placeholder: 'Introduce Yourself' %>
            </div>

            <div class="form-group">
                <%= f.label :price, class:"form-label" %>
                <%= f.number_field :price, class:"form-control",placeholder: 'Your lesson price per hour' %>CAD
            </div> 

            <div class="form-group">
                <%= f.label :address, class:"form-label"%>
                <%= f.text_field :address, class:"form-control", placeholder: 'Where do you teach?' %>
            </div>

            <p>Availabilities</p>
            <div class="form-group">
                <%= fields_for @availability do |a| %>
                <%= a.check_box :day, value:"Monday" %>
                <%= a.label:Monday, "Monday" %> 
                <span class="time ml-4">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:evening, "Evening" %> <br> <hr class="m-0">
                </span>
                <!--     
                <%= a.check_box :day %>
                <%= a.label:Tuesday, "Tuesday" %> 
                <span class="time ml-4">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                <%= a.check_box :day %>
                <%= a.label:Wenesday, "Wednesday" %>
                <span class="time ml-3">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                <%= a.check_box :day %>
                <%= a.label:Thursday, "Thursday" %>
                <span class="time ml-3">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                <%= a.check_box :day %>
                <%= a.label:Friday, "Friday" %>
                <span class="time ml-3">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                <%= a.check_box :day %>
                <%= a.label:Saturday, "Saturday" %>
                <span class="time ml-3">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                <%= a.check_box :day %>
                <%= a.label:Sunday, "Sunday" %>
                 <span class="time ml-3">
                    <%= a.check_box :morning, value:true %>
                    <%= a.label:morning, "Morning" %> 
                    <%= a.check_box :afternoon, value:true %>
                    <%= a.label:afternoon, "Afternoon" %> 
                    <%= a.check_box :evening, value:true %>
                    <%= a.label:Eevening, "Evening" %> <br> <hr class="m-0">
                </span>
                -->
                <% end %>
            </div>

            <div class="form-group">
                    <%= f.label :language_names, value="Language" %>
                    <%= f.text_field :language_names %>
                        <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
                        <!-- <div class="tag-wrapper">
                            <%#= b.check_box %>
                            <%#= b.text.humanize %>
                        </div> -->
                        <%# end %>
            </div>

            <%= f.submit 'Create!', class: 'btn btn-warning col-12 col-md-3 full-width' %>
        <% end %>
   
</div>


 <script>
  $("#teacher_language_names").selectize({
    delimiter: ',',
    persist: false,
    labelField: "name",
    valueField: "name",
    searchField: "name",
    options: <%= Language.select(:name).to_json(except: [:id]).html_safe %>,
    create (input) {
      return { name: input }
    }
  })
</script>
