
  <div class="row welcome text-center">
		<div class="col-12">
            <h1 class="display-4">Teachers</h1>
        </div>
          <div class="col-12">
            <% @languages.each do |language| %>
            <%= link_to(language.name, teachers_path(language: language.name), class: "badge badge-pill badge-primary") %>
            <% end %>
         </div>
   </div>

  
   <% if @language.present? %>
     <div class="row welcome text-center">
		<div class="col-12">
            <h3>Showing teachers tagged by
        <span class= "badge badge-pill badge-primary">
        <%= @language.name %>
        </span></h3>
        </div>
   </div>
    <% end %>
    
		<hr>
    <div class="row teachers-row">
        <% @teachers.each do |teacher| %>
            <div class="row col-md-6 col-lg-4 mx-auto">
                <div class="card teacher-card">
                    <div class="card-body"> 
                        <div class="teacher-box">
                        <div class=teacher-image> 
                            <% if teacher.user.avatar.attached? %>
                                <%= image_tag teacher.user.avatar %>
                            <% else %>
                                <%= image_tag("fake.jpeg") %>
                            <% end %>
                        </div>
                            <div class="teacher-content">
                                <h4 class="card-title">
                                    <%= link_to(teacher.user.full_name, teacher_path(teacher)) %> <br />
                                </h4>
                                <p class="card-text"><%= teacher.description.first(80) %>... </p>
                                <p class="card-text"><%= teacher.price %> CAD</p>
                                <% unless teacher.languages.empty? %>
                                <div>
                                    <% teacher.languages.each do |language| %>
                                    <%= link_to(language.name, teachers_path(language: language.name), class: "badge badge-pill badge-primary") %>
                                </div>
                                <% end %>
                                 <% end %>  
                                    <small>
                                    Posted <%= time_ago_in_words(teacher.created_at)  %> ago
                                    </small>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>  
        <% end %>
    </div>
</div>
