<div class="container-fluid padding">
  <div class="row welcome text-center">
		<div class="col-12">
            <h1>Lesson dashboard</h1>
        </div>
   </div>
    <div class="dashboard-wrapper">

        <div class="lesson-box">
            <h2 class="text-center" >Your Upcoming lesson</h2>
                <% if @payed_lessons.length === 0 %>
                    <p class="text-center">There is no confirmed class</p>
                <% end %>
                <% @payed_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                          <% if lesson.teacher.user.avatar.attached? %>
                              <%= image_tag lesson.teacher.user.avatar %>
                          <% else %>
                              <%= image_tag("default.png") %>
                          <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>User's Name<p>
                           <h3><%= link_to lesson.user.full_name, lesson_path(lesson)%></h3>
                        </div>
                    </div>               
                <% end %>
        </div>

        <div class="requested-box">
            <h2 class="text-center">Requested lesson</h2>
               <% @requested_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                          <% if lesson.user.avatar.attached? %>
                              <%= image_tag lesson.user.avatar %>
                          <% else %>
                              <%= image_tag("default.png") %>
                          <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>User's Name<p>
                            <h3><%= link_to lesson.user.full_name, lesson_path(lesson)%></h3>
                        </div>
                    </div>               
        

                     <%= form_with url: approve_lesson_path, :method => :PUT, local: true do |f| %>

                        <div class="form-group">
                            <%= f.label :comment,  value="Message", class:"form-label" %>
                            <%= f.text_area :comment, class:"form-control",
                            placeholder: 'Send message' %>
                            <%= f.hidden_field :lesson, value: lesson.id %>
                            <%= f.hidden_field :user, value: lesson.user.id %>
                        </div>
                        <%= f.submit 'Approve!', class: 'btn btn-warning col-12 col-md-3 full-width' %>
                    <% end %>
               <% end %>

               <hr>
            <h2 class="text-center" >Waiting for pay confirmation</h2>
            <% if @approved_lessons.length === 0 %>
                <p class="text-center">There is no class that apporved by teacher</p>
             <% end %>
                <% @approved_lessons.each do |lesson| %>
                    <div class="teacher-box">        
                        <div class=teacher-image> 
                                <% if lesson.user.avatar.attached? %>
                                    <%= image_tag lesson.teacher.user.avatar %>
                                <% else %>
                                    <%= image_tag("default.png") %>
                                <% end %>
                        </div>
                        <div class="teacher-content">
                            <p>Student's Name<p>
                            <h3><%= link_to lesson.user.full_name, lesson_path(lesson)%></h3><br />
                            <p><p>Answer from Teacher<p><%= lesson.comment %></p>
                        </div>
                    </div>
            <% end %>
        </div>

    </div>
</div>
